* { box-sizing: border-box }

.phrase, form, body {
  text-align: left;
}

body {
  background-color: white !important;
}

.container-fluid {
  width: 900px !important;
}

.phrases {

  height: 500px;
  overflow: auto;
  text-align: left;
  border: 1px solid #EFEFEF;
  padding: 10px;



}



.phrase {
    padding: 10px;
    border-bottom: 1px solid #EEEEEE;
  width: 873px;
}

.phrase:nth-child(2n+1) {
    background-color: #EEEEEE;
}

.share {
  margin-top: 50px;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial;
  color: black !important;
}


h1 {
  font-family: "grafolita-script" !important;
  color: black !important;
  font-size: 56px !important;
}


.btn-facebook {
  background-image: none !important;
  background-color: #3b5998 !important;
  border: none !important;
}

.btn-twitter {
  background-image: none !important;
  background-color: #55acee !important;
  border: none !important;
}

