<head>
    <title>Langste gedicht ooit</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cerulean/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <meta property="og:title" content="Schrijf mee het langste gedicht ooit!" />
    <meta property="og:description" content="Schrijf mee aan het langste gedicht ooit." />
    <meta property="og:image" content="http://gedichten.speeltuin.sambal.be/og.png" />

    <script src="//use.typekit.net/agc3wzf.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>


</head>

<template name="layout">
    <body>

      <div class="container-fluid">
        {{ > yield }}
      </div>
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-45963911-20', 'auto');
          ga('send', 'pageview');

      </script>
    </body>
</template>
