<template name="home">
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1700820686871641',
                xfbml: true,
                version: 'v2.2'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <h1>Het langste gedicht ooit!</h1>

    <div class="alert alert-info" role="alert">Met <strong>Eén</strong> kan je lachen, gieren, brullen, maar kan jij ook ons gedicht aanvullen?</div>


    <p>We hebben al {{ count }} zinnen!</p>
    <hr/>


    <div class="phrases">


        <div class="phrase row">
            <div class="col-md-1 col-sm-1">

            </div>
            <div class="col-md-2 col-sm-2">
                <strong>Eén</strong>
            </div>
            <div class="col-md-9 col-sm-9">
                Iedere dag kijk ik naar Eén
            </div>
        </div>

        {{#each phrases}}
            <div class="phrase row">
                <div class="col-md-1 col-sm-1">
                    <img src="http://graph.facebook.com/{{ userId }}/picture?type=square"/>

                </div>
                <div class="col-md-2 col-sm-2">
                    <strong>{{ firstname userName }}</strong>

                </div>
                <div class="col-md-9 col-sm-9">
                    {{ text }}
                    {{#if ../admin}}&nbsp;&nbsp;
                        <button data-id="{{ _id }}" class="btn btn-warning btn-xs"><i
                                class="glyphicon glyphicon-remove"></i>
                        </button>
                    {{/if}}
                </div>


            </div>
        {{/each}}
    </div>

    {{#if user }}
        <form>

            <h2>Voeg jouw zin toe</h2>

            <div class="form-group row">
                <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control"/>

                </div>
                <div class="col-md-4 col-sm-4">
                    <input type="submit" class="btn btn-primary" value="Voeg toe"/>
                </div>
            </div>

        </form>
    {{ else }}
        <h2>Meld je aan via Facebook om een zin toe te voegen</h2>

        <p>
            <a href="#" class="btn btn-lg btn-primary fb">Aanmelden met Facebook</a>

        </p>

    {{/if}}



    <div class="share">
        <a href="#" class="btn btn-primary btn-facebook"><i class="fa fa-facebook-square"></i> Deel op Facebook</a>
        <a href="#" class="btn btn-primary btn-twitter"><i class="fa fa-twitter-square"></i> Deel op Twitter</a>
    </div>


</template>
